<section class="AboutPage-section">
    <div class="AboutPage-wrapper">
        <div class="AboutPage-part1">
            <div class="AboutPage-text">
                <p>
                    @Html.Raw(_localization.Getkey("AboutPage"))
                </p>
            </div>
            <div class="AboutPage-text">
                <p>
                    @_localization.Getkey("AboutPage2").Value
                </p>
            </div>

        </div>
        <div class="AboutPage-part2">
            <img src="/img/AboutPage/img-team.png" alt="Hər bir biznes vahidi təsərrüfat fəaliyyətindəki əməliyyatların ilk əvvəl mövcud qanunvericiliyə və normativ hüquqi aktlara uyğun, başa düşülən və nəticəni düzgün əks etdirməyə vara biləcək uçot sisteminin olmasını arzu edir. ">
        </div>
    </div>
    <div class="AboutPage-wrapper2">
        <div class="AboutPage-part3">
            <img src="/img/AboutPage/222222.png" alt="Bu uçot sisteminin hər hansı fərdlərdən asılı olmamağı, insan faktorunun minimal olmağı, avtomatlaşmanın maksimum olmağı isə daha etibarlı daha dəqiq məlumatarın əks olunmağı deməkdir.">
        </div>
        <div class="AboutPage-part4">

            <div class="AboutPage-text">
                <h4> @_localization.Getkey("AboutPage3").Value</h4>
            </div>
            <div class="AboutPage-text2">
                <ul>
                    <li> <img src="/img/icons8-checkmark.gif" alt="Günlük əsasda müəssənin əməliyyatlarının əks olunması">  @_localization.Getkey("AboutPage4").Value</li>
                    <li><img src="/img/icons8-checkmark.gif" alt="Operativ idarəetmə qərarlarının asan verilməsi">	 @_localization.Getkey("AboutPage5").Value</li>
                    <li><img src="/img/icons8-checkmark.gif" alt="Ay ərzində ayın nəticələri ilə bağlı düzgün proqnozun olması">  @_localization.Getkey("AboutPage6").Value</li>
                    <li><img src="/img/icons8-checkmark.gif" alt="Cari ayın nəticələrini, ay bitdikdən sonra bir iki günə əldə etmək şansı">	 @_localization.Getkey("AboutPage7").Value</li>
                    <li><img src="/img/icons8-checkmark.gif" alt="Fəaliyyətinizin nəticəsinin daha tez yoxlanması və real, etibarlı rəqəmlər olmağına əminlik">	 @_localization.Getkey("AboutPage8").Value</li>
                    <li><img src="/img/icons8-checkmark.gif" alt="Rüblük əsasda uçot məlumatlarının hesabatlılığı ilə cari ilin nəticələrinə qədər biznes əməliyyatları istiqamətində optimallaşmalar, dəyişikliklər və s əsaslı qərarlar vermək">	 @_localization.Getkey("AboutPage9").Value</li>
                    <li><img src="/img/icons8-checkmark.gif" alt="Mükəlləfiyyət üzrə müvafiq dövlət xidmətləri orqanlarına hesabatların vaxtında, düzgün və risksiz təqdim olunmasına əmin olmaq">  @_localization.Getkey("AboutPage10").Value</li>
                    <li><img src="/img/icons8-checkmark.gif" alt="Məhz bu uçot sistemi vasitəsi ilə dövlət xidməti orqanlarının yoxlama məqsədli suallarının, məktublarının, müraciətlərinin operativ və əsaslandırılmış rəqəmlərlə cavablandırılması">	 @_localization.Getkey("AboutPage11").Value </li>
                    <li><img src="/img/icons8-checkmark.gif" alt="Maliyyə ili üzrə yalnış olmayan, idarəedənlərin biznesi görmək istədikləri kimi yox məhz idarəetmənin nəticəsinə əsaslanan maliyyə məlumatlarının maraqlı tərəflərə təqdim olunması">	 @_localization.Getkey("AboutPage12").Value</li>
                </ul>
            </div>
        </div>
</section>