<section class="Generalservices-section">
    <div class="Generalservices-text">
        <h2><i class="ri-blaze-line"></i> @_localization.Getkey("Welcome6").Value</h2>
    </div>
    <div class="Generalservices-wrapper1">
        <div class="Generalservices-part1">
            <img src="/img/Xidmetler/1.png" alt="Mühasibat və vergi uçotunun aparılması">
        </div>
        <div class="Generalservices-part2">
            <h4>@_localization.Getkey("generalservices").Value</h4>
            <p>@_localization.Getkey("generalservices2").Value</p>
        </div>
    </div>
    <div class="Generalservices-wrapper1">
        <div class="Generalservices-part1">
            <img src="/img/Xidmetler/2.png" alt="İdarəetmə və maliyyə uçotunun aparılması">
        </div>
        <div class="Generalservices-part2">
            <h4>@_localization.Getkey("generalservices3").Value</h4>
            <p>@_localization.Getkey("generalservices4").Value  </p>
        </div>
    </div>
    <div class="Generalservices-wrapper1">
        <div class="Generalservices-part1">
            <img src="/img/Xidmetler/12.png" alt="Uçotun bərpası və yenidən qurulması">
        </div>
        <div class="Generalservices-part2">
            <h4>@_localization.Getkey("generalservices5").Value </h4>
            <p>@_localization.Getkey("generalservices6").Value  </p>
        </div>
    </div>
    <div class="Generalservices-wrapper1">
        <div class="Generalservices-part1">
            <img src="/img/Xidmetler/4.png" alt="Əmək haqqı və işçilərin idarəedilməsi">
        </div>
        <div class="Generalservices-part2">
            <h4>@_localization.Getkey("generalservices7").Value</h4>
            <p>@_localization.Getkey("generalservices8").Value </p>
        </div>
    </div>
    <div class="Generalservices-wrapper1">
        <div class="Generalservices-part1">
            <img src="/img/Xidmetler/5.png" alt="İnventarizasiya işlərinin aparılması">
        </div>
        <div class="Generalservices-part2">
            <h4>@_localization.Getkey("generalservices9").Value</h4>
            <p>@_localization.Getkey("generalservices10").Value  </p>
        </div>
    </div>
    <div class="Generalservices-wrapper1">
        <div class="Generalservices-part1">
            <img src="/img/Xidmetler/9.png" alt="Daxili auditin keçirilməsi">
        </div>
        <div class="Generalservices-part2">
            <h4>@_localization.Getkey("generalservices11").Value </h4>
            <p>
                @_localization.Getkey("generalservices12").Value
            </p>
        </div>
    </div>
    <div class="Generalservices-wrapper1">
        <div class="Generalservices-part1">
            <img src="/img/Xidmetler/13.png" alt="Audit rəyinin hazırlanması və təsdiqi">
        </div>
        <div class="Generalservices-part2">
            <h4>@_localization.Getkey("generalservices13").Value </h4>
            <p>
                @_localization.Getkey("generalservices14").Value
            </p>
        </div>
    </div>
    <div class="Generalservices-wrapper1">
        <div class="Generalservices-part1">
            <img src="/img/Xidmetler/8.png" alt="Maliyyə hesabatlarının hazırlanması">
        </div>
        <div class="Generalservices-part2">
            <h4>@_localization.Getkey("generalservices15").Value </h4>
            <p>@_localization.Getkey("generalservices16").Value </p>
        </div>
    </div>
</section>