<div class="slide-center">
    <section class="slideshow" id="js-header">
        <div class="slideshow__slide js-slider-home-slide is-current" data-slide="1">
            <div class="slideshow__slide-background-parallax background-absolute js-parallax" data-speed="-1" data-position="top" data-target="#js-header">
                <div class="slideshow__slide-background-load-wrap background-absolute">
                    <div class="slideshow__slide-background-load background-absolute">
                        <div class="slideshow__slide-background-wrap background-absolute">
                            <div class="slideshow__slide-background background-absolute">
                                <div class="slideshow__slide-image-wrap background-absolute">
                                    <div class="slideshow__slide-image background-absolute" style="background-image:url('/img/3.jpg');"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slideshow__slide-caption">
                <div class="slideshow__slide-caption-text">
                    <div class="container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
                        <h1 class="slideshow__slide-caption-title">@_localization.Getkey("Slide").Value</h1>
                        <p class="slideshow__slide-caption-content">@_localization.Getkey("Slide2").Value</p>
                        <a class="slide-btn" href="/home/generalservices">@_localization.Getkey("Welcome12").Value <i class="fa-solid fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slideshow__slide js-slider-home-slide is-next" data-slide="2">
            <div class="slideshow__slide-background-parallax background-absolute js-parallax" data-speed="-1" data-position="top" data-target="#js-header">
                <div class="slideshow__slide-background-load-wrap background-absolute">
                    <div class="slideshow__slide-background-load background-absolute">
                        <div class="slideshow__slide-background-wrap background-absolute">
                            <div class="slideshow__slide-background background-absolute">
                                <div class="slideshow__slide-image-wrap background-absolute">
                                    <div class="slideshow__slide-image background-absolute" style="background-image: url('/img/1.jpg')"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slideshow__slide-caption">
                <div class="slideshow__slide-caption-text">
                    <div class="container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
                        <h1 class="slideshow__slide-caption-title">@_localization.Getkey("Slide3").Value</h1>
                        <p class="slideshow__slide-caption-content">@_localization.Getkey("Slide4").Value </p>
                        <a class="slide-btn" href="/home/generalservices">@_localization.Getkey("Welcome12").Value <i class="fa-solid fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slideshow__slide js-slider-home-slide is-prev" data-slide="3">
            <div class="slideshow__slide-background-parallax background-absolute js-parallax" data-speed="-1" data-position="top" data-target="#js-header">
                <div class="slideshow__slide-background-load-wrap background-absolute">
                    <div class="slideshow__slide-background-load background-absolute">
                        <div class="slideshow__slide-background-wrap background-absolute">
                            <div class="slideshow__slide-background background-absolute">
                                <div class="slideshow__slide-image-wrap background-absolute">
                                    <div class="slideshow__slide-image background-absolute" style="background-image: url('/img/2.jpg')"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slideshow__slide-caption">
                <div class="slideshow__slide-caption-text">
                    <div class="container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
                        <h1 class="slideshow__slide-caption-title">@_localization.Getkey("Slide5").Value</h1>
                        <p class="slideshow__slide-caption-content">@_localization.Getkey("Slide6").Value  </p>
                        <a class="slide-btn" href="/home/generalservices">@_localization.Getkey("Welcome12").Value <i class="fa-solid fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-header-home_footer">
            <div class="o-container">
                <div class="c-header-home_controls -nomobile o-button-group">
                    <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header">
                        <button class="js-slider-home-next floating-btn ripple" type="button">
                            <svg class="o-button_icon" role="img">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-next"></use>
                            </svg>
                        </button>
                        <button class="js-slider-home-prev floating-btn ripple" type="button">
                            <svg class="o-button_icon" role="img">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-prev"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg">
                <symbol id="arrow-prev" viewbox="0 0 492 492" xmlns="http://www.w3.org/2000/svg">
                    <path d="M198.608 246.104L382.664 62.04c5.068-5.056 7.856-11.816 7.856-19.024 0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12C361.476 2.792 354.712 0 347.504 0s-13.964 2.792-19.028 7.864L109.328 227.008c-5.084 5.08-7.868 11.868-7.848 19.084-.02 7.248 2.76 14.028 7.848 19.112l218.944 218.932c5.064 5.072 11.82 7.864 19.032 7.864 7.208 0 13.964-2.792 19.032-7.864l16.124-16.12c10.492-10.492 10.492-27.572 0-38.06L198.608 246.104z"></path>
                </symbol>
                <symbol id="arrow-next" viewbox="0 0 492.004 492.004" xmlns="http://www.w3.org/2000/svg">
                    <path d="M382.678 226.804L163.73 7.86C158.666 2.792 151.906 0 144.698 0s-13.968 2.792-19.032 7.86l-16.124 16.12c-10.492 10.504-10.492 27.576 0 38.064L293.398 245.9l-184.06 184.06c-5.064 5.068-7.86 11.824-7.86 19.028 0 7.212 2.796 13.968 7.86 19.04l16.124 16.116c5.068 5.068 11.824 7.86 19.032 7.86s13.968-2.792 19.032-7.86L382.678 265c5.076-5.084 7.864-11.872 7.848-19.088.016-7.244-2.772-14.028-7.848-19.108z"></path>
                </symbol>
            </svg>
        </div>
    </section>
</div>
<section class="About-section">
    <div class="about-info">
        <a href="/home/about">@_localization.Getkey("AboutSection").Value</a>
    </div>
    <div class="About-wrapper">
        <div class="About-part1">
            <img src="/img/About.jpeg" alt="Hər bir biznes vahidi təsərrüfat fəaliyyətindəki əməliyyatların ilk əvvəl mövcud qanunvericiliyə və normativ hüquqi aktlara uyğun, başa düşülən və nəticəni düzgün əks etdirməyə vara biləcək uçot sisteminin olmasını arzu edir. ">
        </div>
        <div class="About-part2">
            <p>
                @Html.Raw(_localization.Getkey("AboutSection2"))
            </p><p>
                @_localization.Getkey("AboutSection3").Value
            </p>
            <div class="about-button">
                <a class="about-btn" href="/home/about">@_localization.Getkey("Welcome12").Value <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="Services-section">
    <div class="service-info">
        <a href="/home/generalservices"> @_localization.Getkey("ServicesSection").Value</a>
    </div>
    <div class="Services-wrapper">
        <div class="Service-container">
            <div class="Services-part1">
                <a href="/home/generalservices">
                    <div class="item">
                        <h4>@_localization.Getkey("ServicesSection2").Value</h4>
                        <div class="card">
                            <img src="/img/Services.jpg" alt="Mühasibat uçotu və vergi uçotundan tutmuş idarəetmə və maliyyə mühasibatlığından işçilərin idarə olunmasına qədər ümumi xidmətlər təqdim edərək, biznesin bütün maliyyə və idarəetmə ehtiyaclarını hərtərəfli əhatə edirik.">
                            <div class="text">
                                <h2>@_localization.Getkey("ServicesSection3").Value</h2>
                                <p>
                                    @_localization.Getkey("ServicesSection4").Value
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="Services-part1">
                <a href="/home/specialservices">
                    <div class="item">
                        <h4>@_localization.Getkey("ServicesSection5").Value</h4>
                        <div class="card">
                            <img src="/img/Services2.jpg" alt="Büdcələşdirmə, planlaşdırma və qiymətləndirmə sahələrində məsləhət xidmətlərimiz, xüsusi olaraq şirkətlərə təklif etdiyimiz  mühasib xidməti ilə birlikdə bizneslərə maliyyə strategiyalarının yaradılmasında və uğurla həyata keçirilməsində dəstək olur.
                  ">
                            <div class="text">
                                <h2>@_localization.Getkey("ServicesSection6").Value</h2>
                                <p>
                                    @_localization.Getkey("ServicesSection7").Value
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="Services-part2">
            <div id="item" class="card-top">
                <a href="/home/accounting">
                    <div class="item-ucot">
                        <h4> @_localization.Getkey("ServicesSection8").Value</h4>
                        <div class="card">
                            <img src="/img/Services4.jpg" alt="Dəyərli Sahibkarlar, Sizləri əmin edə bilərik ki günümüzdə uçot siyasəti olmadan fəaliyyət göstərən kifayət qədər kiçik, orta və iri sahibkarlıq subyektləri vardır.
                    ">
                            <div class="text">
                                <h2>   @_localization.Getkey("ServicesSection9").Value</h2>
                                <p>
                                    @_localization.Getkey("ServicesSection10").Value
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="services-info">
                <a href="/home/preference">
                    <h3>   @_localization.Getkey("ServicesSection11").Value</h3>
                    <p>
                        @_localization.Getkey("ServicesSection12").Value
                    </p>
                </a>
            </div>

        </div>
    </div>
</section>
<section class="Partner-section">
    <div class="partner-info">
        <a href="/home/partner">@_localization.Getkey("PartnerSection").Value</a>
    </div>
    <div class="partner-top"></div>
    <div class="partner">
        <section class="trigger section gutter-horizontal bg-gray gutter-vertical--m gutter-horizontal">
            <div class="customer-logos slider">
                <div class="slide-in-right slide"><img src="/img/Partner-img/aabb.png" alt="OFFICE STAR"></div>
                <div class="slide-in-right slide"><img src="/img/Partner-img/aabbb.png" alt="MPAY"></div>
                <div class="slide-in-right slide"><img src="/img/Partner-img/QQ4.png" alt="PROAV"></div>
                <div class="slide-in-right slide"><img src="/img/Partner-img/QQ5.png" alt="REFERANS"></div>
                <div class="slide-in-right slide"><img src="/img/Partner-img/QQ6.png" alt="EMANAT"></div>
                <div class="slide-in-right slide"><img src="/img/Partner-img/QQ8.png" alt="LOR HOSPITAL"></div>
                <div class="slide-in-right slide"><img src="/img/Partner-img/QQ9.png" alt="IQLIM"></div>
                <div class="slide-in-right slide"><img src="/img/Partner-img/qq11.png" alt="LEYLA MEDICAL CENTER"></div>
                <div class="slide-in-right slide"><img src="/img/Partner-img/qq111.png" alt="FAST ENGINEERING"></div>
            </div>
        </section>
    </div>
    <div class="partner-bottom"></div>
</section>