<section class="Generalservices-section">
    <div class="Generalservices-text">
        <h2><i class="ri-check-double-line"></i> @_localization.Getkey("Welcome7").Value</h2>
    </div>
    <div class="Generalservices-wrapper1">
        <div class="Generalservices-part1">
            <img src="/img/Xidmetler/Xüsusi/1.png" alt="Personal mühasib xidməti">
        </div>
        <div class="Generalservices-part2">
            <h4> @_localization.Getkey("specialservices").Value </h4>
            <p>@_localization.Getkey("specialservices2").Value  </p>
        </div>
    </div>
    <div class="Generalservices-wrapper1">
        <div class="Generalservices-part1">
            <img src="/img/Xidmetler/Xüsusi/2.png" alt="Sahibkarın online uçot məlumatları ilə təmini">
        </div>
        <div class="Generalservices-part2">
            <h4>@_localization.Getkey("specialservices3").Value </h4>
            <p>@_localization.Getkey("specialservices4").Value </p>
        </div>
    </div>
    <div class="Generalservices-wrapper1">
        <div class="Generalservices-part1">
            <img src="/img/Xidmetler/Xüsusi/3.png" alt="Bİ analitika xidməti">
        </div>
        <div class="Generalservices-part2">
            <h4>@_localization.Getkey("specialservices5").Value</h4>
            <p>@_localization.Getkey("specialservices6").Value  </p>
        </div>
    </div>
    <div class="Generalservices-wrapper1">
        <div class="Generalservices-part1">
            <img src="/img/Xidmetler/Xüsusi/4.png" alt="Baş mühasib xidməti">
        </div>
        <div class="Generalservices-part2">
            <h4>@_localization.Getkey("specialservices7").Value</h4>
            <p>@_localization.Getkey("specialservices8").Value </p>
        </div>
    </div>
    <div class="Generalservices-wrapper1">
        <div class="Generalservices-part1">
            <img src="/img/Xidmetler/Xüsusi/5.png" alt="Maliyyə direktoru xidməti">
        </div>
        <div class="Generalservices-part2">
            <h4>@_localization.Getkey("specialservices9").Value</h4>
            <p>@_localization.Getkey("specialservices10").Value  </p>
        </div>
    </div>
    <div class="Generalservices-wrapper1">
        <div class="Generalservices-part1">
            <img src="/img/Xidmetler/Xüsusi/6.png" alt="Büdcə, planlama və proqnoz xidmətləri">
        </div>
        <div class="Generalservices-part2">
            <h4>@_localization.Getkey("specialservices11").Value </h4>
            <p>
                @_localization.Getkey("specialservices12").Value
            </p>
        </div>
    </div>
</section>